@use '../../../styles/base' as *;

.lessonForm {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.inputGroup {
  display: flex;
  flex-direction: column;
  gap: 18px;
  margin-bottom: 40px;
}

.radioGroup {
  display: flex;
  flex-direction: column;
  gap: 16px;
  margin-bottom: 40px;
}

.radioLabel {
  display: flex;
  align-items: center;
  gap: 8px;
  cursor: pointer;
}

.radioLabel input[type='radio'] {
  appearance: none;
  border: 2px solid $orange;
  width: 24px;
  height: 24px;
  border-radius: 50%;
  outline: none;
  cursor: pointer;
  position: relative;
  @include transition(border-color)
  margin-right: 8px;
}

.radioLabel input[type='radio']::before {
  content: '';
  display: block;
  width: 12px;
  height: 12px;
  border-radius: 50%;
  background-color: transparent;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  transition: background-color 0.3s;
}

.radioLabel input[type='radio']:checked {
  border-color: $orange;
}

.radioLabel input[type='radio']:checked::before {
  background-color: $orange;
}

.errorMessage {
  color: red;
  font-size: 0.875rem;
}
