.closeButton {
  position: absolute;
  top: 57%;
  left: 52%;
  transform: translate(-50%, -50%);
  width: 28px;
  height: 28px;
  cursor: pointer;
  border-radius: 50%;
  background-color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
}