@use './base.scss' as *;

@font-face {
  font-family: 'Roboto Medium';
  src: url('../assets/fonts/Roboto-Medium.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Roboto Bold';
  src: url('../assets/fonts/Roboto-Bold.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'Roboto Regular';
  src: url('../assets/fonts/Roboto-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Roboto Italic';
  src: url('../assets/fonts/Roboto-Italic.ttf') format('truetype');
  font-weight: normal;
  font-style: italic;
}

body {
  font-family: 'Roboto Medium', sans-serif;
  background-color: $bg-grey;
}

a {
  text-decoration: none;
  color: inherit;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0;
}

.react-select-container {
  .react-select__control {
    border-color: transparent !important;

    height: 48px;
    width: 221px;
    background-color: #fff;
    border-radius: 14px;
    cursor: pointer;
    transition: all 0.3s ease;

  }

  .react-select__indicator svg {
    width: 20px;
    height: 20px;
    fill: #000;
    stroke: #000;
    transition: all 0.3s ease;
  }

  .react-select__indicator-separator {
    display: none;
  }

  .react-select__menu {
    top: calc(100% + 8px);
    box-shadow: 0 4px 11px #000000, 0 20px 69px #000000;
    background-color: #fff;
    border-radius: 15px;
    width: 221px;
    overflow: hidden;
    padding: 14px 20px;
    transition: all 0.3s ease;
    max-height: 150px;
    overflow-y: auto;
    font-size: 18px;
  }

  .react-select__menu-list {
    display: inline-flex;
    flex-direction: column;
    gap: 8px;
    max-height: max-content;
    overflow: visible;
    padding: 0 30px;
    @include transition(all)
  }


  .react-select__option {
    line-height: 1.29;
    color: #707070;
    cursor: pointer;
    @include transition(all);
    padding: 10px;
    border-radius: 20px;
    background-color: transparent;
  }


  .react-select__option--is-focused,
  .react-select__option--is-selected {
    color: #000;
    background-color: transparent;
    @include transition(all)
  }


  .react-select__option--is-selected {
    color: #000;
    border-radius: 20px;
    @include transition(all)
  }
}

.react-select-container .react-select__menu {
  top: auto !important;
  box-shadow: none !important;
  padding: 0 !important;
  border-radius: 0 !important;
  overflow: visible !important;
  transition: none !important;
}

.react-select-container .react-select__menu-list {
  max-height: none !important;
  overflow: visible !important;
  transition: none !important;
}

.react-select-container .react-select__option {
  padding: 0 !important;
  border-radius: 0 !important;
}
