@use '../../../styles/base' as *;

.container {


  .title {
    margin: 0;
    text-align: left;
    font-weight: 500;
    font-size: 40px;
    line-height: 120%;
    letter-spacing: -0.02em;
  }

  .text {
    text-align: left;
    margin: 20px 0;
    font-weight: 400;
    font-size: 16px;
    line-height: 137%;
  }

  .teacherContainer {
    display: flex;

    .teacherImage {
      border-radius: 100px;
      margin-right: 14px;
    }

    .desc {
      text-align: left;
      margin: 0;
      font-weight: 500;
      font-size: 12px;
      line-height: 133%;
      color: $light-black;

    }

    .teacherName {
      text-align: left;
      margin: 4px 0 0 0;
      font-weight: 500;
      font-size: 16px;
      line-height: 150%;
    }
  }

  .question {
    text-align: left;
    font-weight: 500;
    font-size: 24px;
    line-height: 133%;
    margin: 40px 0 20px 0;
  }

}

