@use '../../../styles/base' as *;

.wrapper {
  border: 1.50px dashed $orange;
  border-radius: 30px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 40px 123px;
  margin-top: 24px;
}

.itemWrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 16px;
}

.summary {
  font-weight: 500;
  font-size: 28px;
  line-height: 1.14;
  letter-spacing: -0.02em;
  font-family: 'Roboto Medium', sans-serif;
}

.subtitle {
  font-family: 'Roboto Regular', sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.29;
  color: rgba(18, 20, 23, 0.7);
}