.fieldWrapper {
  width: 100%;
  border-radius: 12px;
  border: 1px solid rgba(18,20,23,0.1);
  padding: 16px 0;
}

.input {
  border: none;
  height: 100%;
  outline: none;
  padding-left: 16px;
}

.input::placeholder {
  padding: 16px 0;
}

.spanError {

}