@use '../../styles/base' as *;

.fieldWrapper {
  position: relative;
  width: 100%;
  border-radius: 12px;
  border: 1px solid rgba(18,20,23,0.1);
  padding: 16px 16px;

  @include transition(all)
}

.input {
  border: none;
  height: 100%;
  width: 100%;
  outline: none;
}

.input::placeholder {
  padding: 16px 0;
}

.fieldWrapper:has(.input:focus) {
border: 1px solid $orange;
}

.spanError {
  position: absolute;
  color: red;
  top: -20px;
  left: 0;
  width: 100%;}